/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/1222880530g1
   *
   * These selection rule sets have to be separate.
   * Customize the background color to match your design.
   */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
    resize: vertical;
}

/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */


/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden {
    display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
    visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

button:focus {
    outline: 0;
}

.slick-slide {
    outline: none
}


/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
body,
html {
    height: 100%;
}


body {
    font-size: 14px;
    font-family: 'roboto';
    color: #000;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
input,
button {
    outline: none;
}

label.select {
    z-index: -1;
    display: block;
}
.container{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.top-left ul {
    display: flex;
}
.top-right ul li .linnr {
    color: #ccc;
    font-size: 14px;
}
.top-right ul {
    display: flex;
    justify-content: flex-end;
}
.topbarsec {
    background: #414141;
}
.top-left ul li {
    padding: 16px 17px;
}
.top-logo {
    max-width: 156px;
    margin: 0 auto;
}
.top-logo img {
    width: 100%;
}
.col-3 {
    width: 30%;
}
.top-left ul li:first-child {
    background: #cfb677;
}
.top-left ul li .linnr {
    color: #cccccc;
    font-size: 14px;
}
.top-left ul li .linnr i {
    color: #fff;
}
.topbarsec .row {
    align-items: center;
}
.top-left ul li:last-child {
    border-left: 1px solid #7c7b7c;
}
.top-right ul li {
    padding: 16px 17px;
    border-left: 1px solid #7c7b7c;
}
.top-right ul li:last-child {
    border: none;
    box-shadow: 0px -2px 3px #212121;
}
.sharefollow {
    background-color: #b9b9b9;
    padding: 0px 50px;
}
.sharefollowinnr ul {
    display: flex;
    justify-content: flex-end;
}
.sharefollowinnr ul li .linnr .cntnt a {
    color: #545454;
    font-size: 10px;
    text-decoration: none;
    padding: 10px 6px;
    display: inline-block;
}
.sharefollowinnr ul li .linnr .cntnt a i {
    margin-right: 6px;
}
header.siteheader {
    background: #1e1e1d;
    padding: 50px 100px 0;
}
.col-25 {
    width: 25%;
}
.col-4 {
    width: 40%;
}
.col-8 {
    width: 80%;
}
.col-2 {
    width: 20%;
}
.gotwo h6 {
    font-size: 27px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
.siteheader nav ul {
    display: flex;
    margin: 7px -10px 20px;
}
.siteheader nav ul li a {
    color: #ababab;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
}
.contentgrp {
    background-color: #e8e8e7;
    padding: 20px;
}
ul.timelog {
    display: flex;
}
ul.timelog li .liinr p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    color: #747373;
}
ul.timelog li {
    padding: 0 4px;
}
.headerwidget h6 {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 500;
}
.searchblock {
    width: 60%;
    position: relative;
    margin-bottom: 20px;
}
.col-45 {
    width: 45%;
}
.searchblock input {
    width: 100%;
    border: 1px solid #bbbbbb;
    background: transparent;
    padding: 7px;
    color: #7a7a7a;
    font-size: 12px;
}
.searchblock button {
    padding: 0;
    background: transparent;
    border: none;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 2px;
    transform: rotate(85deg);
    opacity: 0.;
}
.searchblock button img {
    width: 100%;
}
.listitems > ul {
    display: flex;
    flex-wrap: wrap;
}
.listitems > ul li {
    width: calc(100% / 7);
}
.col-5 {
    width: 50%;
}
.listitems > ul li .linnr .iconbox img {
    width: 40px;
    filter: brightness(0);
}
.listitems > ul li .linnr .iconbox .cntnt h5 {
    margin: 0;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}
.listitems > ul li .linnr .iconbox img {
    margin: 0 auto;
}
ul.timelog li .liinr img {
    width: 100%;
}
.col-47 {
    width: 47%;
}
.listitems > ul li .linnr .iconbox {
    text-align: center;
}
.listitems > ul li .linnr, .listitems > ul li .linnr .iconbox {
    height: 100%;
}
.listitems > ul li .linnr .iconbox {
    background-color: #cfb677;
    padding: 14px 10px;
}
.listitems > ul li {
    padding: 2px;
}
.widgetslide .widgetslideinnr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.widgetslide .widgetslideinnr .image {
    width: 35%;
}
.widgetslide .widgetslideinnr .content {
    width: 65%;
    padding-left: 10px;
}
.widgetslide .widgetslideinnr .image img {
    width: 100%;
}
.widgetslide .widgetslideinnr .content p {
    color: #337ab7;
    font-weight: 500;
}
.slick-dots li button {
    padding: 0;
    width: 10px;
    height: 10px;
}
.slick-dots li {
    width: 10px;
    height: 10px;
}
.sidebarinnr .sidebarwigets {
    margin-bottom: 60px;
}
.vacancieslider .widgetslide .widgetslideinnr .image {
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.congratulationslider .widgetslide .widgetslideinnr .image {
    background: #cfb677;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.congratulationslider .widgetslide .widgetslideinnr .image img {
    width: 60%;
}
.yammerconversation .headerconversation h4 {
    margin: 0;
    font-size: 17px;
}
.yammerconversation {
    padding-top: 20px;
}
.headerconversation {
    padding: 15px 17px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.conversationdetails {
    padding: 20px;
    background: #fff;
    box-shadow: 2px -3px 8px -8px rgb(0 0 0);
}
.shareideathought .inputgrp {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}
.shareideathought .inputgrp .thumb {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}
.shareideathought .inputgrp .thumb img {
    width: 100%;
    height: 100%;
}
.shareideathought .inputgrp .input input {
    padding-left: 11px;
    border: none;
}
.shareideathought .actionbtn ul {
    display: flex;
}
.post .postheader {
    display: flex;
    justify-content: space-between;
}
.post .postheader .postpersonal {
    display: flex;
    align-items: center;
}
.post .postheader .postpersonal .img, .postfooter .ptfooterinnr .image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}
.post .postheader .postpersonal .img img, .postfooter .ptfooterinnr .image img {
    width: 100%;
    height: 100%;
}
.post .postheader .postpersonal .peronalinfo {
    padding-left: 12px;
}
.post .postheader .postpersonal .peronalinfo h6 {
    margin: 0;
    font-size: 13px;
}
.post .postheader .postpersonal .peronalinfo h6 span {
    display: block;
    color: #9e9d9b;
    font-size: 10px;
    font-weight: 400;
}
.post .postheader .seenother p {
    font-size: 11px;
    color: #9e9d9b;
    margin: 0;
}
.post .postheader .seenother p i {
    padding-left: 6px;
}
.conversationdetails .post {
    padding: 10px 20px 7px;
    background: #fff;
    box-shadow: 0px 0px 4px #dfdedd;
    border-radius: 4px;
    margin: 10px 0 20px;
}
.post .postcntnt h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.post .postcntnt {
    padding: 20px 0;
}
.post .actionpost {
    display: flex;
    justify-content: space-between;
}
.post .actionpost .action ul {
    display: flex;
}
.post .actionpost .action ul li a {
    text-decoration: none;
    color: #737270;
    font-size: 12px;
    text-transform: capitalize;
}
.post .actionpost .action ul li a i {
    margin-right: 3px;
}
.siteheader nav ul li {
    position: relative;
}
.siteheader nav ul li a i {
    margin-left: 4px;
}
.siteheader nav ul li .submenu {
    position: absolute;
    top: 13px;
    left: 0px;
    display: block;
    width: 130px;
    visibility: hidden;
    opacity: 0;
}
.note p a {
    color: #337ab7;
    text-decoration: none;
}
.note p {
    font-size: 11px;
}
.siteheader nav ul li .submenu li {
    width: 100%;
}
.siteheader nav ul li .submenu li a {
    display: block;
    background: #272727;
    padding: 10px 18px;
}
.siteheader nav ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
.post .actionpost .action ul li {
    padding-right: 8px;
}
.postfooter .ptfooterinnr .input {
    width: 100%;
    padding-left: 10px;
}
.weather img {
    width: 100%;
}
.postfooter {
    padding-bottom: 6px;
}
.conversationdetails {
    height: 440px;
    overflow-y: scroll;
}
.postfooter .ptfooterinnr .input input {
    border: 1px solid #e3e1df;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border-top-left-radius: 0;
    font-size: 12px;
}
.post .actionpost .likes a {
    font-size: 12px;
    text-decoration: none;
    color: #737270;
    text-transform: capitalize;
}
.post .actionpost .likes a img {
    width: 17px;
}
.post .actionpost .likes a img {
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.postfooter {
    margin-top: 20px;
}
.postfooter .ptfooterinnr {
    display: flex;
}
.shareideathought .actionbtn ul li img {
    width: 30px;
    padding-right: 6px;
}
.shareideathought .inputgrp .input, .shareideathought .inputgrp .input input {
    width: 100%;
}
.shareideathought .actionbtn ul li a {
    color: #595a5c;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 4px;
}
.shareideathought {
    padding: 10px 20px 7px;
    background: #fff;
    box-shadow: 0px 0px 4px #dfdedd;
    border-radius: 4px;
    margin: 10px 0 20px;
}
.shareideathought .actionbtn ul li a:hover {
    background: #f1f1f1;
}
@media(max-width: 1025px) {
    header.siteheader {
        padding: 30px 50px 0;
    } 
    .top-left ul li,
    .top-right ul li {
        padding: 10px 17px;
    }
    .top-logo {
        max-width: 126px;
    }
    .sharefollowinnr ul li .linnr .cntnt a {
        padding: 9px 6px;
    }
    .listitems > ul li .linnr .iconbox img {
        width: 35px;
        filter: brightness(0);
    }
    .listitems > ul li .linnr .iconbox {
        background-color: #cfb677;
        padding: 14px 7px;
    }
    .listitems > ul li {
        width: calc(100% / 6);
    }
    .conversationdetails {
        height: 330px;
        overflow-y: scroll;
    }
}
@media(max-width: 800px) {
    .widgetslide .widgetslideinnr .image {
        width: 25%;
    }
    .widgetslide .widgetslideinnr .content {
        width: 75%;
        padding-right: 15px;
    }
    .vacancieslider .widgetslide .widgetslideinnr .image,
    .congratulationslider .widgetslide .widgetslideinnr .image {
        height: 60px;
    }
    .contentgrp .row {
        flex-wrap: wrap;
    }
    .contentgrp .col-2 {
        width: 100%;
    }
    .contentgrp .leftsidebar .sidebarinnr {
        flex-wrap: wrap;
        display: flex;
    }
    .contentgrp .leftsidebar .sidebarinnr .sidebarwigets {
        width: calc(100% / 3);
        margin-bottom: 20px;
    }
    .conversationblock {
        padding: 40px 0;
    }
    .col-5 {
        width: 100%;
    }
    .weather {
        width: 60%;
        margin: 0 auto;
    }
    .rightsidebar {
        text-align: center;
    }
    .rightsidebar ul.timelog {
        justify-content: center;
    }
    .hamburger-menu {
        display: block !important;
        flex-flow: column wrap;
        justify-content: flex-end;
        height: 20px;
        width: 24px;
        cursor: pointer;
        float: right;
    }
    .bar-top, .bar-middle, .bar-bottom {
        height: 3px;
        background: white;
        border-radius: 5px;
        margin: 3px 0;
        transform-origin: left;
        transition: all 0.5s;
    }
    .hamburger-menu.active .bar-top {
      transform: rotate(45deg);
    }
    .hamburger-menu.active .bar-middle {
      transform:translateX(1rem);
      opacity: 0;
    }
    .hamburger-menu.active .bar-bottom {
      transform: rotate(-45deg);
    }
    .siteheader nav {
        position: absolute;
        top: 0;
        bottom: 0;
        display: none;
        align-items: center;
        width: 340px;
        right: 0;
        height: auto;
        background: #1e1e1d;
        z-index: 9;
    }
    .siteheader nav.active {
        display: flex !important;
    }
    .siteheader nav ul {
        flex-wrap: wrap;
        padding: 10px;
    }
    .siteheader nav ul li {
        width: 100%;
    }
    .siteheader nav ul li a {
        display: block;
        font-size: 14px;
        padding: 6px 15px;
    }
    .hamburger-menu.active {
        z-index: 99;
        position: relative;
        top: -60px;
    }
    .gotwo h6 {
        display: none;
    }
    .overflowhide {
        overflow: hidden;
    }
    header.siteheader {
        padding: 30px 50px;
    }
}
@media(max-width: 500px) {
    .contentgrp .leftsidebar .sidebarinnr .sidebarwigets {
        width: calc(100% / 1);
        margin-bottom: 10px;
    }
    .widgetslide .widgetslideinnr .image {
        width: 20%;
    }
    .widgetslide .widgetslideinnr .content {
        width: 80%;
        padding-right: 0px;
    }
    header.siteheader {
        padding: 20px 15px 20px;
    }
    .sharefollow {
        padding: 0px 15px;
    }
    .topbarsec .top-left ul li:not(:first-child), .topbarsec .top-right ul li:not(:nth-child(2)) {
        display: none;
    }
    .listitems > ul li {
        width: calc(100% / 3);
    }
    .post .postcntnt h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
    .weather {
        width: 90%;
        margin: 0 auto;
    }
    .siteheader nav ul .dropdown .submenu {
        visibility: visible;
        opacity: 1;
        width: 100%;
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
    }
    .hamburger-menu {
        margin-top: 10px;
    }
    .top-left ul li, .top-right ul li {
        padding: 10px 9px;
    }
    .contentgrp {
        background-color: #e8e8e7;
        padding: 20px 15px;
    }
}